//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////

@keyframes mvZoomSp{
    0%{
        transform-origin: center center;
        transform: scale( 1 );
    }
    100%{
        transform-origin: center center;
        transform: scale( 1.1 );
    }
}


@keyframes mvZoom{
    0%{
        transform-origin: center center;
        transform: scale( 1 );
    }
    100%{
        transform-origin: center center;
        transform: scale( 1.035 );
    }
}

@keyframes mvZoomHighres{
    0%{
        transform-origin: center center;
        transform: scale( 1 );
    }
    100%{
        transform-origin: center center;
        transform: scale( 1.1 );
    }
}



@keyframes bgZoom{
    0%{
        width: calc( 100% + 3px) ;
        filter: blur( 3px );
        background-size: 104% auto;
    }
    100%{
        width: 100%;
        filter: blur( 0px );

        background-size: 100% auto;
    }
}


@keyframes loading_a{
    0%{
        transform:  translateX( 0 );
    }
    100%{
        transform: translateX( -4vw );
    }
}


@keyframes loading_text{
    0%{
        color: $brown;
    }
    70%{
        color: $brown_ash;
    }
}