@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

/////////color setting

$blue : #00cfff;
$green: #406358;

$orange: #dd9966;

$brown: #906543;
$brown_darken: #453020;

$skincolor: #f6ece6;


////base settings



////////// project setting

$basefontColor : #242222;
$link: $brown;


// $maincolor: 
// $color_main: 
$color_border: #f1f1f1;
$color_button: $orange;
$color_text_index: $brown_darken;
// $color_attention: 
// $color_link: 
// $color_border: 
// $color_notactive: 

