//////////////////////////////////////////

//components

//include by style.scss

//////////////////////////////////////////


////////////////////

// button element

////////////////////

%buttonStyle{
	line-height: 1;
	padding: 40px 10px;
	position: relative;
	display: block;
	letter-spacing: 0.2em;
	border: none;
	font-weight: 700;	
	text-align: center;
	font-family: $fontFamily;
	color: #fff;
	background-color: $color_button;
	transition: transition();
	overflow: hidden;

	&:after{
		content: " ";
		width: 0;
		height: 100%;
		transition: transition( );
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( $brown, 0.05 );
	}

	@include mouseOver(){
		opacity: unset;
		&:after{
			width: 100%;
			left: 0;
			right: auto;
			// opacity: 1;
			background-color: rgba( #fff, 0.05 );
		}
	}
	
	@include mq( sp ){
		padding: 25px 10px;
	}	
}

.button{
	width: 300px;
	
	@include mq( sp ){
		width: auto;
	}	

	a,
	button{
		@extend %buttonStyle;
	}

	button{
		width: 100%;
		box-sizing: border-box;
	}
}

.button--undo{
	a,button{
		background-color: $brown_ash;
	}
}


button.button,
input.button{
	@extend %buttonStyle;
}





////////////////////

// mapo

////////////////////

.accessMap{
	width: 100%;
	height: 0;
	padding-top: 440px;
	position: relative;

	@include mq( sp ){
		padding-top: 200px;
	}	

	iframe{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}