//////////////////////////////////////////

//components

//include by style.scss

//////////////////////////////////////////


////////////////////

// button element

////////////////////

%buttonStyle{
	line-height: 1;
	padding: 30px 10px;
	position: relative;
	display: block;
	letter-spacing: 0.2em;
	font-weight: 700;	
	text-align: center;
	font-family: $fontFamily;
	color: #fff;
	background-color: $color_button;
	
	@include mq( sp ){
		padding: 25px 10px;
	}	

	@include mouseOver(){
		opacity: 0.75;
		&:before{
			width: 0;
			right: 0;
			left: auto;
		}
	}
}

.button{
	width: 300px;
	
	@include mq( sp ){
		width: auto;
	}	

	a{
		@extend %buttonStyle;
	}
}


button.button,
input.button{
			@extend %buttonStyle;

}




////////////////////

// mapo

////////////////////

.accessMap{
	width: 100%;
	height: 0;
	padding-top: 440px;
	position: relative;

	iframe{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}