//////////////////////////////////////////

//module ( subpage )


//include by style.scss

//////////////////////////////////////////

.subpage
{


.mv{

	margin-bottom: $space_l;

	@include mq( tab ){
		margin-bottom: $space_m_sp;
	}		

	&__img{
		overflow: hidden;
		position: relative;
		
		&:after{
			content: " ";
			display: block;
			width: 100%;
			height: 0;
			overflow: hidden;
			padding-top: percentage( 592 / 1366 );
			background-size: 100% auto;
			background-position: center center;
			background-repeat: no-repeat;

			animation: bgZoom 5s ease 0s 1 normal both;

			@include mq( tab ){
				padding-top: percentage( 310 / 375 );
			}			
		}
		

	}

	&__index--en{
		width: 100%;
		line-height: 1;
		display: block;
		position: absolute;
		z-index: 1;
		right: -0.25em;
		bottom: -0.25em;
		text-align: right;
		font-size: 20rem;
		letter-spacing: 0.2em;
		font-family: $fontFamily_en;
		font-weight: 900;
		color: #fff;
		
		@include mq( 1680, min ){
			font-size: 15vw;
		}

		@include mq( tab ){
			font-size: 5rem;
		}		


		span{
			// line-height: 0;
			display: inline-block;
		}
		&.js-effect span{
			transform: translateY(100%);
			// opacity: 0;
			transition: transition();
		}
		&.-on span{
			transform: translateY(0);
		}		
		
        @for $i from 0 through 10 {
            &.js-effect span:nth-child( #{$i} ) {
                transition-delay: #{0.05*$i + 0.5}s;
            }
        }

	}


	&__index--ja{
		margin-top: $space_m;
		letter-spacing: 0.2em;
		text-align: right;
		font-weight: 900;
		font-size: $fontsize_index_l;

		@include mq( tab ){
			margin-top: 30px;
			font-size: $fontsize_index_l_sp;
		}			
	}
}


//////////////////////////////////

// section

//////////////////////////////////

.section{
    letter-spacing: 0.15em;
	&__index{
		line-height: 1;
		margin-bottom: $space_m;
		font-weight: 900;
		font-size: $fontsize_index_l;
		color: $color_text_index_s;

		@include mq( tab ){
			font-size: $fontsize_index_l_sp;
			margin-bottom: $space_s;
		}		
    }	
}



//////////////////////////////////

// 下層フッター

//////////////////////////////////
.section--contentsColmun{

	margin-top: 200px;

	@include mq( tab ){
		margin-top: $space_l_sp;
	}


	.section--information{
		margin-top: 0;
		@include mq( tab ){
			margin-top: $space_m_sp;
		}
	}
}

	
}