//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////


body{
	position: relative;
}



////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	padding-top: 70px;
	padding-bottom: 70px;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	transition: transition();
	
	
	@at-root .-isScrolled .siteHeader{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #ffffff;
	}
	
	@include mq( tab ){
		padding-top: 20px;
		padding-bottom: 20px;

		@at-root .-isScrolled .siteHeader{
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	@include mq( sp ){
		padding-top: 10px;
		padding-bottom: 10px;

		@at-root .-isScrolled .siteHeader{
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}		
	
	
	
	
	 > .wrap{
		 max-width: percentage( 1230 / 1366 );
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: center;
		 
		 @include mq( pc ){
			 max-width: $outerWidth;
		} 			 
		
		@include mq( tab ){
			flex-direction: column;
		} 	
	 }

	&__logo{

		@include mq( tab ){
			img{
				max-width: 120px;
			}
		}	
		@include mq( sp ){
			img{
				max-width: 90px;
			}
		}					
	}

	&__nav{

		line-height: 1;

		@include mq( tab ){
			padding-top: 40px;
			padding-bottom: 40px;
			transition: transition();
			position: fixed;
			z-index: 9;
			right: 0;
			bottom: -100vh;
			left: 0;
			pointer-events:none;
			background-color: rgba( #fff, 0.9 );


			@at-root .-is-navOpen .siteHeader__nav{
				bottom: 20px;
				pointer-events: all;
			}
		}



		&__index{
			display: none;
			@include mq( tab ){			
				display: block;
				margin-bottom: 40px;
				text-align: center;

				img{
					max-width: 120px;
				}

				span{
					line-height: 1;
					margin-bottom: 1em;
					display: block;
					font-weight: 900;
					letter-spacing: 0.15em;
					font-size: $fontsize_s;
				}
			}
			@include mq( sp ){			
				img{
					max-width: 90px;
				}
			}			
		}


		ul{
			display: flex;
			flex-direction: row;

			@include mq( tab ){
				flex-direction: column;
			}
		}	
				
		li{
			list-style: none;
			
			@include mq( 1366){
				font-size: $fontsize_s;
			}	

			@include mq( tab ){
				font-size: 1em;
			}	


			&:not( :last-child ){
				margin-right: 40px;

				@include mq( 1366){
					margin-right: 25px;
					font-size: $fontsize_s;
				}		


				@include mq( tab ){
					margin-right: 0;
				}								
			}
		}

		li a.active{
			font-weight: bold;	
					
			&:before{
				width: 99%;
				left: -1px;
			}					
		}
		li a,
		li span{
			color: inherit;		
			position: relative;
			cursor: pointer;
			
			&:before{
			}	

			@include mq( tab ){
				padding-top: 1em;
				padding-bottom: 1em;
				padding-left: 1em;
				display: block;
				border-top: 1px solid $color_border;
			}
			@include mq( tab, min ){
				@include mouseOver(){
					opacity: 0.75;
				}				
			}
		}		
			
	}
}


////////// mobile toggle

.navToggle{
	@include mq( tab ){
		width: 100%;
		height: 60px;
		padding: 20px;
		box-sizing: border-box;
		position: fixed;
		z-index: 9;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		background-color: $color_button_secondary;
		display: block;


		&__text{
			width: 5em;
			height: 1em;
			margin-right: auto;
			margin-left: auto;
			display: block;
			overflow: hidden;
			position: relative;
			text-align: center;


			&:before,
			&:after{
				width: 100%;
				line-height: 1;
				display: block;
				position: absolute;
				transition: transition();
				text-align: center;
				color: #ffffff;
				font-weight: 900;
			}

			&:before{
				content: "MENU";
				top: 0;
			}
			@at-root .-is-navOpen .navToggle__text:before{
				top: -1.25em;
			}

			&:after{
				content: "CLOSE";
				// opacity: 0;
				top: 1.25em;
			}
			@at-root .-is-navOpen .navToggle__text:after{
				top: 0;
			}
		}
	}
}



////////////////////

// footer

////////////////////

.siteFooter{
	margin-top: 200px;
	text-align: center;
	background-color: #ffffff;

	@include mq( tab ){
		margin-top: $space_l_sp;
	}

	a{
		color: inherit;
	}

	&__copy{
		// ;height: 1px;
		margin-right: auto;
		margin-bottom: 60px;
		margin-left: auto;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		letter-spacing: 0.3em;

		@include mq( tab ){
			flex-direction: column
		}

		&.js-effect{
			span{
				display: inline-block;
				opacity: 0;
				transform: translateY( 10px );
				transition: transition();
			}
			@for $i from 0 through 20 {
				span:nth-of-type( #{$i} ){
					transition-delay: #{0.05*$i}s;
				}
			}
		}
		&.-on{
			span{
				opacity: 1;
				transform: translateY( 00px );
			}	
		
			.siteFooter__copy__line:after{
				width: 100%;

				@include mq( tab ){
					width: 1px;
					height:100%;
				}					
			}								
		}
	
		&__en{
			font-family: $fontFamily_en;
			font-weight: 900;
			color: $color_text_index;
		}

		&__ja{
			font-weight: bold;
		}

		&__line{
			width: 100px;
			height: 1px;
			margin-left: $space_s;
			margin-right: $space_s;
			display: inline-block;
			position: relative;

			@include mq( tab ){
				width: 1px;
				margin-right:auto; 
				margin-left: auto;
				display: block;
				height: 1em;
			}			

			&:after{
				content: " ";
				width: 0%;
				margin: auto;
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: transition();
				transition-delay: 1.25s;
				height: 1px;
				background-color: $basefontColor;

				@include mq( tab ){
						width: 1px;
						height: 0;
					}					
			}
		}

	}
	
	&__main{
		padding-top: 60px;
		padding-bottom: 60px;
		border-top: 1px solid $color_border;
	}


	&__logo{
		margin-bottom: $space_m;

		@include mq( tab ){
				margin-bottom: $space_s_sp;
			}	

		@include mq( sp ){
			margin-bottom: $space_s_sp;

			img{
				max-width: 90px;
			}
		}							
	}

	
	&__address{
		margin-bottom: $space_m;		
		line-height: 2;
		font-size: $fontsize_s;

		@include mq( tab ){
			margin-bottom: $space_s_sp;
		}			
	}


	&__nav{
		ul{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			@include mq( tab ){
				flex-direction: column;
			}				
		}

		li{
			list-style: none;

			&:not( :last-child ){
				margin-right: $space_s;
			
				@include mq( tab ){
					margin-right: 0;
					margin-bottom: 20px;
				}					
			}
		}
	}


	&__copyright{
		font-size: $fontsize_s;
	}
}



////////////////////

// calender

////////////////////

#calendar{

	.fc-button{
		
		height: 4em;
		text-shadow: none;
		box-shadow: none;
		border: none;
		border-radius: 0;
		font-size: $fontsize_s;
		color: #ffffff;
		font-family: $fontFamily_en;
		background: $color_button;

		@include mq( sp ){
			height: 3em;
		}		
	}
	.fc-button + .fc-button{
		margin-left: 10px;
	}
	.fc-right .fc-button,
	.fc-today-button{
		width: 100px;
		
		@include mq( sp ){
			width: 60px;
		}	

	}
	.fc-prev-button,
	.fc-next-button{
		width: 4em;

		@include mq( sp ){
			width: 3em;
		}			
	}

	.fc-button + .fc-next-button{
		margin-left: 1px;
	}	

	.fc-today-button{
		@include mq( sp ){
			display: none;
		}
	}


	.fc-view-container{
		font-size: $fontsize_s;
		background-color: #ffffff;
	}


	.fc-day-header{
		padding-top: 20px;
		padding-bottom: 20px;

		@include mq( sp ){
			padding-top: 7px;
			padding-bottom: 7px;
		}			
	}
	

	.fc-header-toolbar{
		font-family: $fontFamily_en;
	}


	.fc-day-top{
		padding: 0 10px 30px 0;

		@include mq( sp ){
			padding-bottom: 20px;
		}
	}
}




////////////////////

// loading Anim

////////////////////

.loadingAnim{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	transition: transition();
	background-color: #ffffff;

	@at-root .-is-loaded .loadingAnim{
		width: 0;
		transition-delay: 1.5s;
	}


	&__content{
		width: 100vw;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		box-sizing: border-box;
		transition: transition();		
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;	
		
		@include mq(tab){
			flex-direction: column;
			justify-content: center;
		}
	}

	// @at-root .-is-loaded .loadingAnim__content{
	// 	opacity: 0;
	// }	

	&__column{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__row{
		line-height: 4;
		font-size: 1.25em;
		position: relative;
		letter-spacing: 0.3em;
		font-feature-settings: 'palt';
		white-space: nowrap;

		@include mq( tab ){
			font-size: $fontsize_s;
		}


		// &:before{
		// 	content: " ";
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	bottom: 0;
		// 	background-color: #ffffff;
		// 	transition: transition();
		// }
		
		// @for $i from 1 through 4 {
		// 	&:nth-child( #{$i} ){
		// 		&:before{
		// 			transition-delay: #{ 0.15 * $i }s;
		// 		}
		// 	}
		// }

		// @at-root .-is-ready .loadingAnim__row:before{
		// 	width: 0;
		// }

		.anim{
			animation: loading_text 1s ease 0.3s infinite alternate both;

			&.lastChar{
				animation-duration: 0.7s;
				animation-delay: 0s
			}
		}

			span{
				display: inline-block;
				opacity: 0;
				transform: translateY( 10px );
				transition: transition();
			}
			@for $i from 0 through 20 {
				span:nth-of-type( #{$i} ){
					transition-delay: #{0.05*$i + 0.3}s;
				}
			}
		@at-root .-is-ready .loadingAnim__row span{
				opacity: 1;
				transform: translateY( 00px );
		}		

		&:nth-child( 2 ){
			padding-left: 2em;
		}
	}

	&__bg{
		line-height: 0;
		margin: auto;
		top: -0vh;
		left: 0;
		width: 100%;
		height: 100%;
		white-space: nowrap;

		position: absolute;
		z-index: -1;
		

		&:before{
			content: " ";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: #ffffff;
			transition: transition();
		}
		@at-root .-is-ready .loadingAnim__bg:before{
			width: 0;
		}

		svg {
			width: 100vw;
			height: auto;
			display: block;
			fill: $skincolor;
		white-space: nowrap;
			position: absolute;
			top: -20vh;
			right: 0;			
			bottom: -45vw;
			left: 0;

			animation: loading_a 10s ease 0s 1 normal both;

			@include mq( tab ){
				width: 200vw;
				top: 0;
			}

		}

	}


	.asc{
		font-size: 0.5em;
		font-family: $fontFamily_en;
	}
}