@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
@import "./../../node_modules/slick-carousel/slick/slick";
////////////////////////////////////////


// top


////////////////////////////////////////
.top{

///////////////////////////////////////

// nodule

////////////////////////////////////////

%line{
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
        transition: transition();     
        transition-delay: 0.5s;           
    background-color: $basefontColor;    
}


//////// section
.section{
    margin-bottom: $space_l;

    @include mq( tab ){
        margin-bottom: $space_l_sp;
    } 
    

    &__index{
        line-height: 1;
        margin-bottom: $space_m;
        color: $color_text_index;
        font-family: $fontFamily_en;
        font-size: $fontsize_index_l;
        font-weight: 900;

        @include mq( tab ){
            font-size: $fontsize_index_l_sp;
            margin-bottom: $space_s_sp;
        }        
    }

    &__index.js-effect{
         > span, span{
             display: inline-block;
             transition: transition();
         }
        >span{
            position: relative;
            overflow: hidden;

            &:after{
                width: 100%;
                height: 1px;
                @extend %line;
            }
        }
        >span >span{
            transform: translateY( 1.25em );
        }
    }

    &__index.js-effect.-on{
        >span:after{
            width: 0;
        }
        >span >span{
            transform: translateY( 0em );
        }
    }    

    &__index__description{
        line-height: 1;
        margin-top: $space_s;
        display: block;
        color: $basefontColor;
        font-size: 1.6rem;
        font-family: $fontFamily;
    }
}


///////////////////////////////////////

// style

////////////////////////////////////////

    ////////mv
    .mv{
        .slick-slide{

            .mv__img{
                width: 100%;
                position: relative;
                height: 0;
                overflow: hidden;
                padding-top: percentage( 592 / 1366 );

                @include mq( tab ){
                    padding-top: percentage( 920 / 840 );
                }                

                &:before{
                    content: " ";
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    display: block;
                    mix-blend-mode: screen;
                    transition: transition();
                    transition-delay: 0.7s;
                    background-color: $orange;
                }    
            }

            img{
                width: calc( 100% + 10px );
                height: auto;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                will-change: filter, transform;
                filter: blur( 5px );
                transition: transition();
                transition-delay: 0.35s;                
            }
        }
        .slick-current{
            .mv__img{
                &:before{
                    width: 0;
                }
            }
            img{
                width: 100%;
                filter: blur(0);
                animation: mvZoom 10s linear 0s 1 normal;
            }
        }
    }



    ////////// copy

    .copy{
        line-height: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        @include mq( tab ){
            align-items: flex-start;
            flex-direction: column;
        }        
        
        &__en{
            margin-top: -2.5em;
            width: 605px;
            margin-right: $space_s;
            line-height: 1.31;
            font-size: 6.8rem;
            letter-spacing: 0.3em;
            font-family: $fontFamily_en;
            font-weight: 900;
            color: $color_text_index;

            @include mq( tab ){
                line-height: #{36/50.4};
                font-size: 3.6rem;
                width: auto;                
            }            


            div{
                height: 1em;
                line-height: 1;
                overflow: hidden;
                position: relative;

                &:after{
                    width: 100%;
                    height: 1px;
                      @extend %line;
                }


                &:not( :last-child ){
                    margin-bottom: $space_s;

                    @include mq( tab ){
                        margin-bottom: 0.25em;
                    }                    
                }
            }

            div span{
                display: block;
                transform: translateY( 1.25em );
                transition: transition();
                transition-delay: 0.1s;
            }

            // @for $i from 0 through 4 {
            //     div:nth-child( #{$i} ) span{
            //         transition-delay: #{0.08*$i}s;
            //     }
            // }

            //line
            &:after{
                content: " ";
                width: 0%;
                height: 1px;
                margin-top: $space_s;
                display: block;
                transition: transition();
                transition-delay: 0.6s;
                background-color: $basefontColor;

                @include mq( tab ){
                    display: none;
                }                
            }
        }
        
        &__ja{
            line-height: 1;
            margin-bottom: -0.5em;
            letter-spacing: 0.3em;
            position: relative;
            font-weight: 900;
            white-space: nowrap;
            font-size: $fontsize_xl;

            @include mq( tab ){
                margin-top: 1em;
                line-height: $baselineHeight;
                font-size: $fontsize_xl_sp;
                margin-bottom: 0;
                            
            }
            

            &:before{
                content: " ";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: #ffffff;
                transition: transition();
                transition-delay: 1.05s;
            }
        }
    }


    .section--copy.-on .copy{
        div span{
            transform: translateY(0);
        }

        &__en div:after{
            width: 0;
        }

        &__en:after{
            width: 100%;
        }

        &__ja:before{
            width: 0;
        }

        &__ja span{
            opacity: 1;
            transform: translateY(0);
        }            
    }



    //////// intro
    .section--intro{
        position: relative;
        z-index: 1;

        &__copy{
            margin-bottom: $space_s;
            font-size: $fontsize_index_m;
            font-weight: 900;
            
            @include mq( tab ){
                margin-bottom: $space_s_sp;
                font-size: $fontsize_index_l_sp;
            }            
        }
    }


    //////// concept
    .section--concept{
        overflow: hidden;
        position: relative;

        .wrap{
            position: relative;
        }


        .section{
            &__index{
                writing-mode: vertical-rl;
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;

                @include mq( tab ){
                    position: relative;
                    writing-mode: horizontal-tb
                }                 
            }
        }
         &.js-effect .section__index div {   
            margin-left: 0.5em;         
            overflow: hidden;
            position: relative;

                @include mq( tab ){
                    margin-left: 0;
                    margin-bottom: 0.25em;
                }               


            &:after{
                width: 1px;
                height: 100%;
                @extend %line;
                right: auto;
                left: 0;

                @include mq( tab ){
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                }                 
            }                
            
            span{
                transform: translateX( -100% );
                transition: transition();
                display: inline-block;
            }
            @for $i from 0 through 4 {
                &:nth-child( #{$i} ) span{
                    transition-delay: #{0.08*$i}s;
                }
            }            
        }

        &.js-effect.-on .section__index div {
            &:after{
                height: 0;
        
                @include mq( tab ){
                    width: 0;
                    height: 1px;
                }                 
            }
            span{
                transform: translateY( 0 );                    
            }
        }       



        .conceptParagraph{
            max-width: 860px;            
            line-height: 2;

            &:not( :last-child ){
                margin-bottom: $space_m;

                @include mq( tab ){
                    margin-bottom: $space_s_sp;
                }                   
            }
        }


        &__a{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            mix-blend-mode: multiply;
            // fill: #f6ece6;

                @include mq( tab ){
                    right: -70%;
                    // bottom: auto;
                }               
                @include mq( sp ){
                    // right: -50%;
                    // bottom: auto;
                }               

            svg{
                fill: none;
                transform: translate3d(0,0,0);

                @include mq( tab ){
                    transform: rotate( -90deg ) scale( 1.5 );
                }                   
            }

        
            path{
                stroke: #999;
                stroke-dasharray: #{1783 };
                stroke-dashoffset: -#{1783 };
                transition: all 3s linear 0s;
                 transition: stroke-dasharray 1s linear 1s,
                        stroke-dashoffset 1s linear 1s, 
                        fill 0.5s linear 3s;
            }

            .-on{
                fill: #f6ece6;
                // stroke-dasharray: #{0};
                // stroke-dashoffset: -#{0};
            }
        }


        &__location{
            width: 100%;
            height: 0;
            margin-top: $space_l;
            padding-top: percentage( 420 / 1366 );
            background: url(../img/top-intro-bridge.jpg) 0  0 no-repeat;
            background-size: 100% auto;

                @include mq( tab ){
                    margin-top: $space_l_sp;
                    padding-top: percentage( 170 / 375 );
                    background-size: 150% auto;
                }               
        }
    }



    //////////// relationship

    .section--relationship{
        .relashionship{
            display: flex;
            flex-direction: row;

            @include mq( sp ){
                flex-wrap: wrap;
            }
            

            li{
                line-height: 1;
                list-style: none;

                @include mq( sp ){
                   width: calc( 33.333% - 20px  );
                   margin-right: 20px;
                   margin-bottom: 20px;
                }                   

                &:not( :last-child ){
                    margin-right: $space_s;     
                    @include mq( sp ){
                        margin-right: 0px;
                    }                               
                }
                &:not( :nth-child( 3n ) ){
                    @include mq( sp ){
                        margin-right: 20px;
                    }
                }                
            }

            img{
                border: 1px solid $color_border;
                line-height: 0;
            }

            a{
                box-sizing: border-box;
                display: block;

                @include mouseOver(){
                    opacity: 0.8;
                }
            }
        }
    }

}