@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
////////////////////////////////////////


// about


////////////////////////////////////////
.subpage--events{


.section{
    
    &__index__description{
        line-height: 1;
        margin-top: $space_s;
        display: block;
        color: $basefontColor;
        font-size: 1.6rem;
        font-family: $fontFamily;
    }    
}


////////////////////

// mainvisual

////////////////////

.mv{
    &__img:after{
		background-image: url(../img/events-mv.jpg);
		
		@include mq( tab ){
			background-image: url(../img/events-mv-m.jpg);
		}			
    }    
}



////////////////////

// howto

////////////////////

.section--howto{

	// @include mq( tab ){
	// 	margin-top: $space_l_sp;
    // }
    
    .section{
        &__index{
            font-family: $fontFamily;            
        }
    }
    
    &__section{
        margin-top: $space_m;

        @include mq( sp ){
           margin-top: $space_s_sp;
        }           

        &__index{
            margin-bottom: $space_s;
        }
    }

    .howtoList{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;

        li{
            list-style: none;
            counter-increment: count;
            text-indent: -1.5em;
            padding-left: 1.5em;

            &:not( :last-child ){
                margin-bottom: 10px;
            }

            &:before{
                content: counter( count ) ".";
                color: $brown_ash;
                font-family: $fontFamily_en;
            }
        }
    }
    
    
    
    //////// buttons
    
    &__buttons{
        max-width: 1000px;
        margin-top: $space_l;

        @include mq( sp ){
           margin-top: $space_s_sp;
        }         

        .buttons{
            display: flex;
            justify-content: space-between;

            @include mq( sp ){
                flex-direction: column;
            }
        } 

        .button{
            max-width: percentage( 480 / 1280 );
            min-width: 480px;

            @include mq( sp ){
               width: 100%;
               max-width: 100%;
               min-width: 0;
            //    min-width: 0;
               margin-bottom: 20px;
            }
        }
    }



    /////// contact
    &__contact{
        max-width: 1000px;
        margin-top: $space_s;
        padding: 40px;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        border: 1px solid $color_border;

        @include mq( sp ){
            padding-right: 20px;
            padding-left: 20px;            
        }        


        &__index{
            margin-bottom: 30px;

            @include mq( sp ){
                font-size: $fontsize_index_s_sp;
            } 
        }


        /////tables
        &__tables{
            display: inline-block;
        }


        //// table
        &__table{
            margin-top: 0;
            margin-bottom: 15px;
            display: flex;
            text-align: left;
            align-items: center;


            &:last-child {
                margin-bottom: 0;
            }

            dt{
                width: 60px;

                @include mq( sp ){
                    width: 3em;
                }                 
            }
            dd{
                font-size: 2em;
                color: $brown;
                font-family: $fontFamily_en;
           
           
                @include mq( sp ){
                        font-size: $fontsize_index_s_sp;
                    }                 
            }
        }
    }
}



////////////////////

// schedule

////////////////////

.section--schedule{
    margin-top: $space_l;

    #calendar{
        max-width: 1000px!important;
    }

}


}