@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
////////////////////////////////////////


// detail


////////////////////////////////////////
.subpage--detail{

	$ltsp: 0.15em;
		


////////////////////

// mainvisual

////////////////////

.mv{
    &__img:after{
		background-image: url(../img/detail-mv.jpg);
		
		@include mq( tab ){
			background-image: url(../img/detail-mv-m.jpg);
		}			
    }    
}




////////////////////

// images
////////////////////

.section--imgs{

	.wrap{
		@include mq( tab ){
			padding: 0;
		}			

	}


	.imgDetail + .imgDetail{
		margin-top: 200px;

		@include mq( 1920 ){
			margin-top: 11vw;
		}
		
		@include mq( tab ){
			margin-top: $space_l_sp;
		}		
	}
	
	.imgDetail{
		margin-right: percentage( -25 / 1200 );
		margin-left: percentage( -25 / 1200 );
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;

		@include mq( tab ){
			align-items: flex-start;
			flex-direction: column-reverse;
		}			


		&:nth-child( even ){
			flex-direction: row;

			@include mq( tab ){
				flex-direction: column-reverse;
				align-items: flex-end;
			}			
		}




		&__img{
			width: 500px;
			position: relative;
			margin-right: percentage( 25 / 1200 );
			margin-left: percentage( 25 / 1200 );
			flex-shrink: 0;			

			@include mq( tab ){
				width: percentage( 500 / 1230 );
				margin-bottom: $space_s_sp;				
			}		


			&:after{
				content: " ";
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				bottom: -70px;
				left: 70px;
				opacity: 0;
				background-color: $skincolor;
				transition: transition( );

				@include mq( tab ){
					left: 20px;
					bottom: -20px;
				}							
			}
		}
		&--h .imgDetail__img{
			width: 650px;

			@include mq( tab ){
				width: percentage( 650 / 1230 );
			}			
		}
		&:nth-child( even ) .imgDetail__img:after{
			left: auto;
			right: 70px;			

			@include mq( tab ){
				right: 20px;
			}			
		}
		&.js-effect .imgDetail__img:after{
			height: 0;
			transform: translateY( 20px );			
			transition-delay: 0.3s;
		}		
		&.-on .imgDetail__img:after{
			opacity: 1;
			transform: translateY( 0px );			
			height: 100%;
		}


		&__img__area{
			width: 100%;
			height: 0;
			padding-top: percentage( 650 / 500 );
			transition: easeInOut();
			position: relative;
			z-index: 1;
			overflow: hidden;
		}
		&--h .imgDetail__img__area{
			padding-top: percentage( 500 / 650 );
		}
		&.js-effect .imgDetail__img__area{
			opacity: 0;
			transform: translateY( 20px );
			transition-delay: 0.6s;
		}		
		&.-on .imgDetail__img__area{
			transform: translateY( 0px );
			opacity: 1;
		}		



		&__img img{
			width: 110%;
			max-width: 110%;
			position: absolute;
			top: 5%;
			left: -5%;
			display: block;
			// transition: easeInOut();
		}


		&__text{
			margin-right: percentage( 25 / 1200 );
			margin-left: percentage( 25 / 1200 );

			@include mq( tab ){
				padding-right: 5%;
				padding-left: 5%;
				margin-right: 0;
				margin-left: 0;
			}			
		}


		&__index{
			margin-bottom: 30px;
			font-weight: 700;
			font-size: $fontsize_index_m;
			color: $color_text_index_s;

			@include mq( tab ){
				font-size: $fontsize_index_m_sp;
			}						
		}


	}
	
}


}