<section class="section section--contentsColmun">
	<div class="wrap">
        <section class="section section--access">
            <div class="wrap">
                <header>
                    <h2 class="section__index js-effect">
                        <span><span>ACCESS</span></span>
                    </h2>
                </header>
                <div class="section__content">
                    <div class="accessMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.0527118313225!2d140.73281541606372!3d40.82680583851956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9b9f1ec6adfff1%3A0xec0d95d468717b79!2z44CSMDMwLTA4MDEg6Z2S5qOu55yM6Z2S5qOu5biC5paw55S677yR5LiB55uu77yS4oiS77yR77yY!5e0!3m2!1sja!2sjp!4v1535176519156"
                            width="760" height="494" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
		<section class="section section--information">
			<header>
				<h2 class="section__index js-effect">
					<span><span>INFORMATION</span></span>
				</h2>
			</header>
			<div class="section__content">
				<div class="fb-page" data-href="https://www.facebook.com/aostacenter/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true"
				 data-hide-cover="false" data-show-facepile="false">
					<blockquote cite="https://www.facebook.com/aostacenter/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aostacenter/">Aomori
							Startup Center</a></blockquote>
				</div>
			</div>
		</section>
	</div>
</section>
