<footer class="siteFooter">
    <header class="siteFooter__copy js-effect">
        <div class="siteFooter__copy__en">
            <span>A</span><span>O</span><span>M</span><span>O</span><span>R</span><span>I&nbsp;</span><span>S</span><span>T</span><span>A</span><span>R</span><span>T</span><span>U</span><span>P&nbsp;</span><span>C</span><span>E</span><span>N</span><span>T</span><span>E</span><span>R</span>
        </div>
        <span class="siteFooter__copy__line"></span>
        <div class="siteFooter__copy__ja">
            <span>そ</span><span>の</span><span>情</span><span>熱</span><span>は</span><span>集</span><span>ま</span><span>る</span><span>こ</span><span>と</span><span>で</span><span>加</span><span>速</span><span>す</span><span>る</span>
        </div>
    </header>
    <section class="siteFooter__main">
        <div class="wrap">
            <div class="siteFooter__logo">
                <a href="http://www.acci.or.jp/" target="_blank"><img src="<%- $path %>/../img/common-logo.svg" width="150" alt="青森商工議会 青森スタートアップセンター"></a>
            </div>
            <div class="siteFooter__address">
                 <p>
                     〒030-0801<br>青森県青森市新町1丁目2-18 TEL:017-734-1311<br>青森商工会議所会館1階<br>AOMORI STARTUP CENTER
                 </p>
                 <p>直通TEL: 017-718-5377<br><small>(平日: 10:00~20:00,土: 13:00~18:00,日祝年末年始: 休)</small></p>
            </div>
            <nav class="siteFooter__nav">
                <%- include( 'nav.ejs' ); %>
            </nav>
        </div>
    </section>
    <footer class="siteFooter__copyright">copyright © Aomori startup center All Rights Reserved.</footer>
    <!-- ***** nav toggle (only smartphone) -->
    <div class="navToggle"><span class="navToggle__text"></span></div>
    <!-- ///// nav toggle (only smartphone) -->
<%- include( '_scripts.ejs' ); %>
</footer>