<div class="loadingAnim">
	<div class="loadingAnim__content">
		<!--<div class="loadingAnim__row">
			「<span>あ</span>」は最初のあ
		</div>
		<div class="loadingAnim__row">
			「<span>あ</span>」は青森のあ
		</div>
		<div class="loadingAnim__row">
			「<span>あ</span>」はアップのあ
		</div>
		<div class="loadingAnim__row">
			「<span>あ</span>」アップルのあ
		</div>-->
		<div class="loadingAnim__column">
			<div class="loadingAnim__row">
				<span>最</span><span>初</span><span>の</span><span>｢<strong class="anim">あ</strong>｣</span>
				<!--最初の｢<span>あ</span>｣
				-->		</div>
			<div class="loadingAnim__row">
				<span>あ</span><span>お</span><span>も</span><span>り</span><span>の</span><span class="anim lastChar">｢<strong>あ</strong>｣</span>
				<!--あおもりの｢<span>あ</span>｣
				-->		</div>
		</div>
		<div class="loadingAnim__column">
			<div class="loadingAnim__row">
				<strong class="asc">AOMORI STARTUP CENTER</strong>
			</div>
		</div>
		
	</div>
	<div class="loadingAnim__bg">
		<svg class="js-effect" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1787.3 1419.03">
			<path d="M0,72.42V0L1787.3,669v81L0,1419v-72.42l534-198.86V271.28ZM600.27,1123.2,1707.5,709.52,600.27,295.84Z" />
		</svg>
		<!--あ-->
	</div>
</div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=430549517149025&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<header class="siteHeader">
	<div class="wrap">

		<<% if( $active!='top'){ %>h1<% }else{ %>div<%}%> class="siteHeader__logo">
			<a href="/"><img src="<%- $path %>/../img/common-logo.svg" width="200" alt="青森商工議会 青森スタートアップセンター"></a>
		</<% if( $active!='top'){ %>h1<% }else{ %>div<%}%>>
		<nav class="siteHeader__nav">
			<header class="siteHeader__nav__index">
				<span><img src="<%- $path %>/../img/common-logo.svg" width="200" alt="青森商工議会 青森スタートアップセンター"></span>
				<span>AOMORI STARTUP CENTER</span>
			</header>
			<%- include( 'nav.ejs' ); %>
		</nav>
	</div>
</header>

