<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=430549517149025&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<header class="siteHeader">
	<div class="wrap">

		<<% if( $active!='top'){ %>h1<% }else{ %>div<%}%> class="siteHeader__logo">
			<a href="http://www.acci.or.jp/" target="_blank"><img src="<%- $path %>/../img/common-logo.svg" width="150" alt="青森商工議会 青森スタートアップセンター"></a>
		</<% if( $active!='top'){ %>h1<% }else{ %>div<%}%>>
		<nav class="siteHeader__nav">
			<header class="siteHeader__nav__index">
				<span><img src="<%- $path %>/../img/common-logo.svg" width="150" alt="青森商工議会 青森スタートアップセンター"></span>
				<span>AOMORI STARTUP CENTER</span>
			</header>
			<%- include( 'nav.ejs' ); %>
		</nav>
	</div>
</header>

