<% 
	include( '_include/_function.ejs' );
    $path = './';
    $meta.title="お問い合わせ｜青森スタートアップセンター";    
	$active = 'contact';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="subpage subpage--contact">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv">
			<div class="wrap">
				<div class="mv__copy">
					<div class="mv__copy--en js-effect">
						 <span>C</span><span>O</span><span>N</span><span>T</span><span>A</span><span>C</span><span>T</span>
					</div>
					<h1 class="mv__copy--ja">お問い合わせ</h1>
					<div class="mv__description">
						ご不明な点やご質問がありましたら、下記のフォームもしくは<br>
						電話（<a href="tel:017-734-1311">017-734-1311</a>）にてお尋ねください。
					</div>
				</div>
			</div>
		</section>
		<section class="section section--contact">
			<div class="wrap">
				<form id="mailformpro" class="formTable" action="form/mailformpro/mailformpro.cgi" method="POST">
					<dl class="formTable__row">
						<input type="hidden" name="お名前" value="">
						<dt class="mfp must">お名前 </dt>
						<dd class="mfp">
							<input type="text" name="姓名" data-kana="セイメイ" required="required">
						</dd>
					</dl>
					<dl class="formTable__row">
						<dt class="mfp must">フリガナ</dt>
						<dd class="mfp"><input type="text" name="メイ"	data-charcheck="kana"></dd>
					</dl>	
					<dl class="formTable__row">
						<dt class="mfp must">性別</dt>
						<dd class="mfp">
							<label class="formTable__radio"><input type="radio" name="性別" value="男性"><i></i>男性</label>
							<label class="formTable__radio"><input type="radio" name="性別" value="女性"><i></i>女性</label>
							<label class="formTable__radio"><input type="radio" name="性別" value="回答しない"><i></i>回答しない</label>
						</dd>
					</dl>
					<dl class="formTable__row">
						<input type="hidden" name="mfp_separator_01" value="\n【メールアドレス】\n">
						<dt class="mfp must">メールアドレス</dt>
						<dd class="mfp"><input type="email" data-type="email" name="email" required="required"></dd>
					</dl>	
					<dl class="formTable__row">
						<dt class="mfp must">メールアドレス<br>（確認用）</dt>
						<dd class="mfp"><input type="email" data-type="email" name="confirm_email" data-post-disable="1" size="40" required="required"></dd>
						<input type="hidden" name="mfp_separator_02" value="\n【備考欄】\n">
					</dl>
					<div class="formTable__row--button">
						<div class="mfp_buttons buttons">
							<div class="button button--undo">
								<button type="reset">リセット</button>
							</div>
							<div class="button">
								<button type="submit">送信する</button>
							</div>
						</div>
					</div>
				</form>
				<script type="text/javascript" id="mfpjs" src="form/mailformpro/mailformpro.cgi" charset="UTF-8"></script>
			</div>
		</section>	
		<%- include( '_include/_module-subpagefooter.ejs' ) %>
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>