<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = '施設情報｜青森スタートアップセンター';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="subpage subpage--detail">
	<%- include( '_include/header.ejs' ); %>
	<main>
		<section class="mv ">
			<div class="mv__img">				
				<span class="mv__index--en js-effect">
                    <span>D</span><span>E</span><span>T</span><span>A</span><span>I</span><span>L</span>
                </span>
            </div>
			<div class="wrap">
				<h1 class="mv__index--ja">施設情報</h1>
			</div>
		</section>
	
		<%- include( '_include/_module-subpagefooter.ejs' ) %>
	</main>

	<%- include( '_include/footer.ejs' ); %>
</body>
</html>